img {
    height: 60px;
    width: 60px;
}

textarea {
    width:100%;
}

.table td, .table th {
    max-width: 220px;
}

body .confirm-table {
    min-width: 100px !important;
}

.footer {
    position: fixed;
    bottom: 0;
}